@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020202;
    /* Mastra Deep Black */
    --foreground: #d9d9d9;
    /* Mastra Light Grey Text */
  }
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}