@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020202;
    /* Mastra Deep Black */
    --foreground: #d9d9d9;
    /* Mastra Light Grey Text */
  }
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

canvas {
  display: block;
  vertical-align: bottom;
  pointer-events: auto !important;
}